.nav {
    height: 70px;
}
.nav-hamburger {
    display: none;
}
.nav-menu {
    display: block;
}
.nav__logo {
    width: 100px;
    min-height: 45px;
    height: 50px;
    margin-left: 10px;
}


.slider {
    height: 80vh;
}


.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr;
    row-gap: 20px;
    padding: 40px 80px;
}
.footer__logo {
    grid-column: 2 / 3;
    justify-self: flex-end;
}
.footer__social-media {
    grid-area: 1 / 1 /2 / 2;
}
.footer__social-info-whatsapp a:nth-child(1) {
    display: none;
}
.footer__social-info-whatsapp a:nth-child(2) {
    display: flex;
}
.nav-list {
    grid-column: 1 / 3;
    justify-content: center;
    column-gap: 14px;
}

